<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Entretiens" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/interviews">
    <ion-nav-view name="app-interviews"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Candidats" icon-off="ion-university" icon-on="ion-university" href="#/app/candidates">
    <ion-nav-view name="app-candidates"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Recruteurs" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/app/recruiters">
    <ion-nav-view name="app-recruiters"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mon compte" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
